.burger {
    width: 40%;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 30px;
}

 @media (max-width: 900px) {
    .burger {
        height: 40vh;
    }
}

@media (max-width: 700px) {
    .burger {
        height: 30vh;
    }
}

@media (max-width: 500px) {
    .burger {
        height: 25vh;
    }
}

@media (max-width: 400px) {
    .burger {
        height: 20vh;
    }
}